{% extends "base.html" %}
{% block body %}
    <h1>ADMIN HOMEPAGE</h1>
    <form method="POST">
        <label for="redirect">What would you like to do?</label>
        <br>
        <select id="redirect" name="redirect" required>
            <br>
            <option value="add_tasks">Add a task</option>
            <option value="approve_tasks">Approve pending tasks</option>
            <option value="pay_users">Pay users</option>
        </select>
        <input type="submit" value="Open page">
    </form>
{% endblock %}