{% extends "base.html" %}
{% block body %}
    <h1>HOMEPAGE</h1>
    <form action="" method="POST">
        <label for="tasks">Add task</label>
        <br>
        <select id="tasks" name="tasks" required>
            <br>
            <option id="type" name="type" value="Broken Access Control">Broken Access Control</option>
            <option value="Cryptographic Failures">Cryptographic Failures</option>
            <option value="Injection">Injection</option>
            <option value="Insecure Design">Insecure Design</option>
            <option value="Security Misconfiguration">Security Misconfiguration</option>
            <option value="Vulnerable and Outdated Components">Vulnerable and Outdated Components</option>
            <option value="Identification and Authentication Failures">Identification and Authentication Failures</option>
            <option value="Software and Data Integrity Failures">Software and Data Integrity Failures</option>
            <option value="Security Logging and Monitoring Failures">Security Logging and Monitoring Failures</option>
            <option value="Server-Side Request Forgery (SSRF)">Server-Side Request Forgery (SSRF)</option>
        </select>
        <br>
        <label for="days">Days until finish:</label>
        <input id="days" name="days" type="number" required>
        <br>
        <label for="url">Website url:</label>
        <input id="url" name="url" type="text" placeholder="Website url" required>
        <br>
        <label for="notes">Notes:</label>
        <input type="text" name="notes" required>
        <br>
        <input type="submit">
    </form>
{% endblock %}