{% extends "base.html" %}
{% block body %}
    <h1>PAY USERS</h1>
    {% if not pending_payments %}
        <h5>There are not any pending payments</h5>
    {% endif %}
    {% for payment in pending_payments %}
        <form method="POST">
            <input type="hidden" name="pay_id" value="{{ payment.id }}">
            <label for="txId">Amount: {{ payment.amount }}</label>
            <br>
            <input type="text" name="txId" placeholder="TX_ID" required>
            <br>
            <input type="submit">
        </form>
    {% endfor %}
    <br>
    <a href="/admin/home?jwt={{ jwt }}">Go back</a>
{% endblock %}